@layout-header-height: 64px;
@menu-collapsed-width: 80px;
@screen-md: 768px;
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@body-background: #20343e;
@component-background: #2d3f49;
@text-color: #ffffff;
@primary-color: #5aaafa;
@border-color-split: #152935;
@tooltip-bg: #152935;
@heading-color: #ffffff;
@text-color-secondary: #dfe6eb;
@font-size-base: 16px;
@layout-body-background: #20343e;
